.image {
  @apply max-h-[350px] md:max-h-none max-w-[350px] mb-20 md:mb-0;
  position: relative;
  border-radius: 10px;
  display: block;
  z-index: 1;
  object-fit: contain;
}

.contactLink {
  @apply py-4 px-8 mt-16 shrink-0 inline-block;

  border: 1px solid var(--dark);
  color: var(--dark);
  font-size: 0.75rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--dark);
    color: var(--milk);
  }
}