.contactLink {
  @apply py-3 px-6 mt-12 shrink-0 inline-block;

  border: 1px solid var(--white);
  color: var(--white);
  font-size: 0.75rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--white);
    color: var(--dark);
  }
}

.textContainer {
  color: var(--darkGrey);
}