@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #fafafa;
  --dark: #1a1919;
  --grey: #8c8e8e;
  --darkGrey: #27292F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Turn off when using react-lenis */
  /* scroll-behavior: smooth; */
  scroll-padding-top: 50px;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background-color: var(--dark);
}

.link {
  @apply py-3 px-6 mt-12 shrink-0 inline-block;

  background-color: var(--white);
  color: var(--dark);
  border: 1px solid var(--white);
  font-size: 0.75rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.bg-404 {
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}