@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #fafafa;
  --dark: #1a1919;
  --grey: #8c8e8e;
  --darkGrey: #27292F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background-color: var(--dark);
}