.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxWrapper {
  opacity: 0;
}

.box {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  object-fit: cover;
  will-change: width;
  display: none;
}