.photo {
  position: relative;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.textContainer {
  color: var(--darkGrey);
}

.title {
  display: block;
  transform: translateY(100%) skewY(10deg);
  opacity: 0;
  will-change: transform opacity;
}